@model IEnumerable<StudyFlow.Models.Domain.Task>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="taskTable" class="table display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>

                @*<td>
            <div class="calendar-container">
            <div id="createdAtCalendar_@item.Id" class="calendar"></div>
            </div>
            </td>
            <td>
            <div class="calendar-container">
            <div id="dueDateCalendar_@item.Id" class="calendar"></div>
            </div>
            </td>*@

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css" rel="stylesheet" />

<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>


@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>


<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#taskTable').DataTable({
            columnDefs: [{
                targets: [2], // Assuming "Priority" column is the third column (index 2)
                type: 'string',
                render: function (data, type, row) {
                    if (data === 'High') {
                        return '1 - High'; // Assign a custom value for "High"
                    } else if (data === 'Medium') {
                        return '2 - Medium'; // Assign a custom value for "Medium"
                    } else if (data === 'Low') {
                        return '3 - Low'; // Assign a custom value for "Low"
                    } else {
                        return data;
                    }
                }
            }]
        });
    });

    @*js(function () {
        @foreach (var item in Model)
        {
        <text>
        js('#createdAtCalendar_@item.Id').fullCalendar({
        defaultDate: '@item.CreatedAt.ToString("yyyy-MM-dd")',
        editable: false,
        eventStartEditable: false,
        eventDurationEditable: false,
        eventOverlap: false,
        events: [
        {
        title: '@item.Title' + " Created",
        start: '@item.CreatedAt.ToString("yyyy-MM-dd")'
        }
        ]
        });

        js('#dueDateCalendar_@item.Id').fullCalendar({
        defaultDate: '@item.DueDate.ToString("yyyy-MM-dd")',
        editable: false,
        eventStartEditable: false,
        eventDurationEditable: false,
        eventOverlap: false,
        events: [
        {
        title: '@item.Title' + " Due Date",
        start: '@item.DueDate.ToString("yyyy-MM-dd")'
        }
        ]
        });
        </text>
        }});*@
</script>

@*<style>
    .calendar-container {
        width: 400px; /* Adjust the width as needed */
        height: 400px; /* Adjust the height as needed */
        overflow: hidden; /* Ensures the calendar remains within the specified dimensions */
    }
</style>*@